h1{
  color: rgba(229, 13, 13, 0.791);
  letter-spacing: 2px;
  text-shadow: 6px 2px 3px black;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 50px;
  font-weight: 800;
}
.recipe{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}
